*{
	margin:0;
	padding:0;

}
body{
			background-color:#e7e5e4;
		background-image:url("http://wallpaperlayer.com/img/2015/9/paper-texture-wallpaper-3124-3324-hd-wallpapers.jpg");
	background-repeat: no-repeat;
  background-attachment:fixed;
    background-size: cover;
}
#wrapper{
	width:1000px;
	margin:0 auto;
}
#header{
	background-color:rgba(32,32,32,0.3);
	height:100px;
}
#footer{
	background-color:rgba(32,32,32,0.3);
	height: 100px;
}
#comments{
	background-color:#B8B8B8;
}
#blogarea{
	background-color: rgba(112,112,112,0.25);
}
a{
	position: relative;
	text-decoration: none;
	text-align:center;
	letter-spacing: 2px;
	color: #131313;
  
	font-size: 137.5%;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: 500;
  
	margin-top: -3%;
	margin-left:-12%;
	position:fixed;
  
	padding: 18px 18px;
	width: 15%;
	height:5.7%;

	background: #131313 ;
	border: 1px solid #131313 ;
	color: #e7e5e4;
	overflow: hidden;
  
	transition: all 0.5s;
	cursor:pointer;

	box-shadow: 
		1px -1px 0 rgba(0,0,0,0.7), 
		-2px 2px 1px rgba(0,0,0,0.5),  
		-4px 4px 1px rgba(0,0,0,0.3), 
		-6px 6px 1px rgba(0,0,0,0.2),
		-8px 8px 1px rgba(0,0,0,0.1),   
		-10px 10px 1px rgba(0,0,0,0.05);
}
.button:hover, .button:active 
{
  text-decoration: none;
  color: #131313;
  border-color: #131313;
	background-color:#e7e5e4;
	
    }

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -7px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #e7e5e4;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-135deg);
  
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #131313;
  right: 0;
  top: 50%;
}
h4{
	margin-top: 10px;
	color:blue;
}
h2{
	color:#000;
	padding:0;
	margin:0;
}
h5{
	color:black;

}
h1{
	margin-top: 50px;
}
p{
	margin-bottom:20px;
	color:#101010 ;
}
nav{
	margin:0;
	padding:0;
	margin-bottom: 20px;
}